body {
  background-color: #FAEDB7;

}
h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #00F;
}
p {
    font-family: georgia;
}
a:link, a:visited {
  background-color: blue;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}

a:hover, a:active {
  background-color: cyan;
  color: black;
}